body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
/*never band*/
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}
.navbar-inverse .navbar-brand {
    color: #fff;
  }
  .navbar-inverse{
    background-color: #710C04;
  }
h1
{
  text-transform: uppercase;
  font-weight: bold;
}
p {
    margin: 0 0 10px;
    color: #151716;
      font-style: normal;
}
h5{
  text-transform: uppercase;
}
._1{
  background-color: transparent;
      padding-bottom: 300%;
}
._2{
  background-color: transparent;
      padding-bottom:300%;
}
._3{
  background-color: transparent;
      padding-bottom: 300%;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #2d2829;
    border-radius: 10px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: unset;
    line-height: inherit;
    background-color: #ab9146;
    font: 300;
    font-weight: bold;
    font-style: initial;
}
.h3, h3 {
    font-size: 15px;
}
